* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------register----------------------------------- */
.parent-register-container {
  background-image: url(/src/assets/mink-mingle-g0Qdolm3K14-unsplash.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.logo-image{
  margin: auto;
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% transparency */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-button:hover {
  background-color: #218838;
}
